<a href="https://colab.research.google.com/github/Cherry63/Telephone-Directory-/blob/main/Telephone_Directory_CRUD_Operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Telephone** **Directory** **CRUD** **Operation**

In [1]:
!pip install pymongo
!pip install pymongo[srv]
!pip3 install dnspython

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.0)
Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.0)

In [2]:
import pymongo
import datetime
import json
from pymongo import MongoClient, InsertOne

In [3]:
client = pymongo.MongoClient("mongodb+srv://Charan:CharanK@cluster1.6mfil.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [4]:
client.list_database_names()

['test', 'admin', 'local']

In [5]:
mycol = db["Telephone directory"]


Insert Collections

In [6]:
mydict = [{'Phone_number': '+91 12346789',
  'Place': 'chennai',
  'name': 'xxxxx'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  'name': 'yyyy'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  'name': 'ssssss'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  'name': 'zzzzzzzz'}]

x = mycol.insert_many(mydict)
type(x)

pymongo.results.InsertManyResult


Query Collections

In [7]:
y = mycol.find()
list(y)

[{'Phone_number': '+91 12346789',
  'Place': 'chennai',
  '_id': ObjectId('622209aece6692ab0960f2f2'),
  'name': 'xxxxx'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('622209aece6692ab0960f2f3'),
  'name': 'yyyy'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('622209aece6692ab0960f2f4'),
  'name': 'ssssss'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('622209aece6692ab0960f2f5'),
  'name': 'zzzzzzzz'},
 {'Phone_number': '+91 12346789',
  'Place': 'chennai',
  '_id': ObjectId('62220cc461e76ed3c24dff68'),
  'name': 'xxxxx'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('62220cc461e76ed3c24dff69'),
  'name': 'yyyy'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('62220cc461e76ed3c24dff6a'),
  'name': 'xxxxx'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('62220cc461e76ed3c24dff6b'),
  'name': 'zzzzzzzz'}]

In [8]:
z = mycol.find({'name':'xxxxx'})
list(z)

[{'Phone_number': '+91 12346789',
  'Place': 'chennai',
  '_id': ObjectId('622209aece6692ab0960f2f2'),
  'name': 'xxxxx'},
 {'Phone_number': '+91 12346789',
  'Place': 'chennai',
  '_id': ObjectId('62220cc461e76ed3c24dff68'),
  'name': 'xxxxx'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('62220cc461e76ed3c24dff6a'),
  'name': 'xxxxx'}]

Update and Query Collections

In [12]:
myquery = { "name": "ssssss" }
newvalues = { "$set": { "name": "zzzzzzzz" } }
update = mycol.update_one(myquery,newvalues)
list(mycol.find())

[{'Phone_number': '+91 12346789',
  'Place': 'chennai',
  '_id': ObjectId('622209aece6692ab0960f2f2'),
  'name': 'xxxxx'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('622209aece6692ab0960f2f3'),
  'name': 'yyyy'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('622209aece6692ab0960f2f4'),
  'name': 'zzzzzzzz'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('622209aece6692ab0960f2f5'),
  'name': 'zzzzzzzz'},
 {'Phone_number': '+91 12346789',
  'Place': 'chennai',
  '_id': ObjectId('62220cc461e76ed3c24dff68'),
  'name': 'xxxxx'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('62220cc461e76ed3c24dff69'),
  'name': 'yyyy'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('62220cc461e76ed3c24dff6a'),
  'name': 'xxxxx'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('62220cc461e76ed3c24dff6b'),
  'name': 'zzzzzzzz'}]


Query Deletions

In [13]:
myquery = { "name": "xxxxx" }
mycol.delete_one(myquery)

In [14]:
list(mycol.find())

[{'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('622209aece6692ab0960f2f3'),
  'name': 'yyyy'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('622209aece6692ab0960f2f4'),
  'name': 'zzzzzzzz'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('622209aece6692ab0960f2f5'),
  'name': 'zzzzzzzz'},
 {'Phone_number': '+91 12346789',
  'Place': 'chennai',
  '_id': ObjectId('62220cc461e76ed3c24dff68'),
  'name': 'xxxxx'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('62220cc461e76ed3c24dff69'),
  'name': 'yyyy'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('62220cc461e76ed3c24dff6a'),
  'name': 'xxxxx'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('62220cc461e76ed3c24dff6b'),
  'name': 'zzzzzzzz'}]